NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBQhdXeJtQr2XgOITGPlA944888n1HQ6yE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=questionbankqa.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=questionbankqa
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=questionbankqa.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=319308725474
NEXT_PUBLIC_FIREBASE_APP_ID=1:319308725474:web:39bfd287ccde7038f7f2bb
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-363ZV5VXMC
GEMINI_API_KEY=AIzaSyC1uA6QLvFcvqJ_RoU7C3fwuLTXq3tbJ8o
